
<!--Add Cow Modal -->
<div class="modal fade" id="addCowModal" tabindex="-1" aria-labelledby="addCowModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addCowForm" method="post" action="/add">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="addCowModalLabel">Adicionar Vaca</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="tag" class="form-label">Brinco</label>
            <input type="number" class="form-control" id="cowTag" name="tag"  placeholder="12456">
          </div>
          <div class="mb-3">
            <label for="checkDigit" class="form-label">Check Digit</label>
            <input type="number" class="form-control" id="cowcheckDigit" name="checkDigit"  placeholder="12456">
          </div>
          <div class="mb-3">
            <label for="race">Escolhe a raça:</label>
              <select class="form-control" id="cowRace" name="race">
                <option value="Angus">Angus</option>
                <option value="Limousin">Limousin</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="breedCount" class="form-label">Vezes Paridas</label>
            <input type="number" class="form-control" id="cowBreedCount" name="breedCount" placeholder="3">
          </div>
          <div class="mb-3">
            <label for="lastTimeCalved" class="form-label">Data da última vez que pariu</label>
            <input type="date" class="form-control" id="cowlastTimeCalved" name="lastTimeCalved" placeholder="15-08-2023">
          </div>
          <div class="mb-3">
            <label for="lastTimeSanitized" class="form-label">Data da última sanitização</label>
            <input type="date" class="form-control" id="cowlastTimeSanitized" name="lastTimeSanitized" placeholder="15-08-2023">
          </div>
          <div class="mb-3">
            <label for="comments" class="form-label">Comentários</label>
            <textarea class="form-control" id="cowComments" name="comments" placeholder="Escreve aqui os teus comentarios..." rows="10" cols="30"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Adicionar</button>
        </div>
      </form>
    </div>
  </div>
</div>

