<!-- Info Cow Modal -->
<div
  class="modal fade"
  id="infoCowModal"
  tabindex="-1"
  aria-labelledby="infoCowModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="infoCowForm" method="post">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="infoCowModalLabel">Vaca</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="cowTag" class="form-label">Identificação</label>
            <input
              type="text"
              class="form-control"
              id="InfocowTag"
              name="tag"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="cowcheckDigit" class="form-label">Check Digit</label>
            <input
              type="number"
              class="form-control"
              id="InfocowcheckDigit"
              name="checkDigit"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="race">Raça:</label>
              <select class="form-control" id="InfocowRace" name="race" disabled>
                <option value="Angus">Angus</option>
                <option value="Limousin">Limousin</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="cowbirthDate" class="form-label">Data de nascimento</label>
            <input
              type="date"
              class="form-control"
              id="InfocowbirthDate"
              name="birthDate"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="cowBreedCount" class="form-label">Nº de Pariçoes</label>
            <input
              type="number"
              class="form-control"
              id="InfocowBreedCount"
              name="breedCount"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="cowlastTimeCalved" class="form-label">Data da última parição</label>
            <input
              type="date"
              class="form-control"
              id="InfocowlastTimeCalved"
              name="lastTimeCalved"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="cowdateOfLastSanitation" class="form-label">Data da última intervenção sanitária</label>
            <input
              type="date"
              class="form-control"
              id="InfodateOfLastSanitation"
              name="lastTimeSanitized"
              readonly
            />
          </div>
          <div class="mb-3">
            <label for="comments" class="form-label">Comentários/Observaçoes</label>
            <textarea class="form-control" id="InfocowComments" name="comments" placeholder="Escreve aqui os teus comentarios..." rows="2" cols="30" readonly></textarea>
          </div>
        </div>
          
        <div class="modal-footer">
          <input type="hidden" name="id" id="InfocowId"/>
          <button type="button" class="btn btn-success" id="infoEditBtn">Editar</button>
          <button type="button" class="btn btn-danger" id="infoDeleteBtn" data-bs-dismiss="modal"> Eliminar</button>
          
        </div>
      </form>
    </div>
  </div>
</div>