<!-- Edit Cow Modal -->
<div
  class="modal fade"
  id="editCowModal"
  tabindex="-1"
  aria-labelledby="editCowModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="editCowForm" method="post">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="editCowModalLabel">Editar Vaca</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="cowcheckDigit" class="form-label">Check Digit</label>
            <input
              type="number"
              class="form-control"
              id="EditcowcheckDigit"
              name="checkDigit"
            />
          </div>
          <div class="mb-3">
            <label for="cowTag" class="form-label">Identificação</label>
            <input
              type="text"
              class="form-control"
              id="EditcowTag"
              name="tag"
            />
          </div>
          <div class="mb-3">
            <label for="race">Raça:</label>
              <select class="form-control" id="EditcowRace" name="race">
                <option value="Angus">Angus</option>
                <option value="Limousin">Limousin</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="cowbirthDate" class="form-label">Data de nascimento</label>
            <input
              type="date"
              class="form-control"
              id="EditcowbirthDate"
              name="birthDate"
            />
          </div>
          <div class="mb-3">
            <label for="cowBreedCount" class="form-label">Nº de Parições</label>
            <input
              type="number"
              class="form-control"
              id="EditcowBreedCount"
              name="breedCount"
            />
          </div>
          <div class="mb-3">
            <label for="cowlastTimeCalved" class="form-label">Data da última parição</label>
            <input
              type="date"
              class="form-control"
              id="EditcowlastTimeCalved"
              name="lastTimeCalved"
            />
          </div>
          <div class="mb-3">
            <label for="cowdateOfLastSanitation" class="form-label">Data da última intervenção sanitária</label>
            <input
              type="date"
              class="form-control"
              id="EditdateOfLastSanitation"
              name="lastTimeSanitized"
            />
          </div>

          <div class="my-3">
            <label for="comments" class="form-label">Comentários/Observaçoes</label>
            <textarea class="form-control" id="EditcowComments" name="comments" placeholder="Escreve aqui os teus comentarios..." rows="2" cols="30"></textarea>
          </div>
        </div>
          
        <div class="modal-footer">
          <input type="hidden" name="id" id="EditcowId" />
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-success">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>