<!-- Edit Sheep Modal -->
<div
  class="modal fade"
  id="editSheepModal"
  tabindex="-1"
  aria-labelledby="editSheepModalLabel"
  aria-hidden="true"
>
   <div class="modal-dialog">
    <div class="modal-content">
      <form id="editSheepForm" method="post">
        <div class="modal-header text-center">
          <h5 class="modal-title w-100" id="editSheepModalLabel">Editar Ovelha</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="sheepTag" class="form-label">Identificação</label>
            <input
              type="number"
              class="form-control"
              id="EditsheepTag"
              name="tag"
            />
          </div>
          <div class="mb-3">
            <label for="sheepcheckDigit" class="form-label">Check Digit</label>
            <input
              type="number"
              class="form-control"
              id="EditsheepcheckDigit"
              name="checkDigit"
            />
          </div>
          <div class="mb-3">
            <label for="sheepBreedCount" class="form-label">Nº de Parições</label>
            <input
              type="number"
              class="form-control"
              id="EditsheepBreedCount"
              name="breedCount"
            />
          </div>
          <div class="mb-3">
            <label for="sheeplastTimeCalved" class="form-label">Data da última parição</label>
            <input
              type="date"
              class="form-control"
              id="EditsheeplastTimeCalved"
              name="lastTimeCalved"
            />
          </div>
          <div class="mb-3">
            <label for="sheepdateOfLastSanitation" class="form-label">Data da última intervenção sanitária</label>
            <input
            type="date"
            class="form-control"
            id="EditsheepdateOfLastSanitation"
            name="dateOfLastSanitation"
          />

          <div class="my-3">
            <label for="comments" class="form-label">Comentários/Observaçoes</label>
            <textarea class="form-control" id="EditsheepComments" name="comments" placeholder="Escreve aqui os teus comentarios..." rows="2" cols="30"></textarea>
          </div>

        </div>
          
        <div class="modal-footer">
          <input type="hidden" name="id" id="EditsheepId" />
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-success">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>