


<script>
$(document).ready(function () {
    $('table').DataTable({
        columnDefs: [
            {
                targets: "_all",
                className: "dt-left"
            }
        ],
        //os nulls representam as outras colunas, qualquer adicao ou subtracao de colunas implica mudar esta parte do codigo
        columns: [
            null, null, null, null, null,
            {
                "render": function(data, type, row){
                    return data.replace(/\n/g, '<br>');
                }
            },
            null
        ],
        language: {
            sProcessing: "Processando...",
            sLengthMenu: "Mostrar _MENU_ registos",
            sZeroRecords: "Nenhum resultado encontrado",
            sEmptyTable: "Nenhum dado disponível nesta tabela",
            sInfo: "Mostrando _START_ a _END_ de _TOTAL_ registo(s)",
            sInfoEmpty: "Mostrando 0 a 0 de 0 registos",
            sInfoFiltered: "(filtrado de _MAX_ registos)",
            sSearch: "Pesquisar:",

            oPaginate: {
                sLast: "<i class='fa-solid fa-angles-right' style='color:#63E6BE;'></i>",
                sFirst: "<i class='fa-solid fa-angles-left' style='color:#63E6BE;'></i>",
                sNext: "<i class='fa-solid fa-angle-right' style='color:#63E6BE;'></i>",
                sPrevious: "<i class='fa-solid fa-angle-left' style='color:#63E6BE;'></i>"
            }
        },
        autoWidth: false,
        order: [[0, 'desc']],
        pagingType: "full_numbers",
        
    });
});
</script>

</body>

</html>